#result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card {
    padding: 2rem;
    width: 28%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin-bottom: 2rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #aaa;
}

img{
    width: 100%;
    height: auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 5px;
}

ul li{
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 0.1rem;
}